<!DOCTYPE html>
<html ng-app="bgs" ng-controller="AppCtrl as app">
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <script src="css/styles.js"></script>
  <script src="bundle.js"></script>
</head>
<body class="container">
<h4>Asynchronous results</h4>
<pre>Model: {{app.gameSelected | json}}</pre>
<input type="text" ng-model="app.gameSelected" placeholder="Locations loaded via $http"
       typeahead="game.name for game in app.boardGameService.getGameNames($viewValue)" typeahead-loading="loadingLocations"
       class="form-control">
<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
<pagination total-items="app.gameCount" ng-model="app.gamePage" items-per-page="app.gamePerPage" class="pagination-sm"
            boundary-links="true"></pagination>
<table class="table table-bordered">
  <thead>
  <tr>
    <th><h2>thumbnail</h2></th>
    <th><h2>game</h2></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="game in app.games">
    <td><img ng-src="http://localhost:3000/{{game.thumbnail}}" alt=""/></td>
    <td>{{game.name}}</td>
  </tr>
  </tbody>
</table>

</body>
</html>