<div>
  <input type="text" ng-model="list.game.selected" placeholder="Enter a game name..."
         typeahead="game.name for game in list.boardGameService.getGameNames($viewValue)"
         typeahead-loading="loadingLocations"
         class="form-control">
  <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
  <pagination total-items="list.game.count" ng-model="list.game.page" items-per-page="list.game.perPage"
              class="pagination-sm"
              boundary-links="true"></pagination>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th><h2>thumbnail</h2></th>
      <th><h2>game</h2></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="game in list.games">
      <td><img ng-src="http://localhost:3000/{{game.thumbnail}}" alt=""/></td>
      <td>{{game.name}}</td>
    </tr>
    </tbody>
  </table>
</div>