<div>
  <input type="text" ng-model="game.search" ng-model-options="{debounce:500}"/>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th ng-click="store.select('name')">Game</th>
      <th ng-click="store.select('averageRating')">Rating</th>
      <th>Thumbnail</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="game in store.games | orderBy: store.selected | filter: game.search"
        ui-sref="detail({id:game.gameId})">
      <td>{{::game.name}}</td>
      <td>{{::game.averageRating}}</td>
      <td><img ng-src="http://localhost:3000/{{::game.thumbnail}}" alt=""/></td>
    </tr>
    </tbody>
  </table>
</div>
